*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background: rgb(238,229,229);
    background: linear-gradient(25deg, rgba(238,229,229,1) 38%, rgba(45,144,253,1) 100%);
}

.buttons{
    width: 10%;
    height: 10%;
}

.btnrow{
display: flex;
align-items: center;
justify-content: space-around;
}

.buttons{
    width: 60px;
    height: 60px;
    
}

.Calc-container{
background-color: rgba(0, 0, 0, 0.434);
}

.Calculator-container{
    background-color: rgba(0, 0, 0, 0.384);
}