*{
    background-color: aquamarine;
}



#d1{
    width: 80px;
    height: 80px;
    background-color: green;
    margin-left: 300px;
    margin-top: 50px;
    
}

#d2{
    width: 80px;
    height: 80px;
    background-color: red;
    margin-left: 382px;
    margin-top: -80px;

}

#d3{
    width: 80px;
    height: 80px;
    background-color: pink;
    margin-left: 464px;
    margin-top: -80px;
}

#d4{
    width: 80px;
    height: 80px;
    background-color: blue;
    margin-left: 546px;
    margin-top: -80px;
}


#d5{
    width: 80px;
    height: 80px;
    background-color: black;
    margin-left: 628px;
    margin-top: -80px;
}



#d6{
    width: 80px;
    height: 80px;
    background-color: violet;
    margin-left: 214px;
    margin-top: -2;
}

#d7{
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin-left: 300px;
    margin-top: -78px;
}

#d8{
    width: 80px;
    height: 80px;
    background-color: green;
    margin-left: 382px;
    margin-top: -80px;
}

#d9{
    width: 80px;
    height: 80px;
    background-color: violet;
    margin-left: 464px;
    margin-top: -80px;
}

#d10{
    width: 80px;
    height: 80px;
    background-color: orangered;
    margin-left: 546px;
    margin-top: -80px;
}

#d11{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    margin-left: 628px;
    margin-top: -80px;
}

#d12{
    width: 80px;
    height: 80px;
    background-color: brown;
    margin-left: 710px;
    margin-top: -80px;
}


#d13{
    width: 80px;
    height: 80px;
    background-color: green;
    margin-left: 132px;
    margin-top: 2px;
}

#d14{
    width: 80px;
    height: 80px;
    background-color: black;
    margin-left: 214px;
    margin-top: -80px;
}

#d15{
    width: 80px;
    height: 80px;
    background-color: pink;
    margin-left: 298px;
    margin-top: -80px;
}

#d16{
    width: 80px;
    height: 80px;
    background-color: brown;
    margin-left: 382px;
    margin-top: -80px;
}

#d17{
    width: 80px;
    height: 80px;
    background-color: yellowgreen;
    margin-left: 464px;
    margin-top: -80px;
}

#d18{
    width: 80px;
    height: 80px;
    background-color: rosybrown;
    margin-left: 546px;
    margin-top: -80px;
}

#d19{
    width: 80px;
    height: 80px;
    background-color: navy;
    margin-left: 628px;
    margin-top: -80px;
}

#d20{
    width: 80px;
    height: 80px;
    background-color: navajowhite;
    margin-left: 710px;
    margin-top: -80px;
}

#d21{
    width: 80px;
    height: 80px;
    background-color: goldenrod;
    margin-left: 792px;
    margin-top: -80px;
}