H1{
    color: blueviolet;
}
span{
    color: brown;
    font-size: 20px;
}

#c1{
    color: blue;
}

#c2{
    color: aquamarine;
}

#c3{
    color: brown;
}

#c4{
    color: blanchedalmond;
}

h2{
    text-align: center;
}
